name: Release
on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        description: How to bump the version
        required: true
        options:
          - major
          - minor
          - patch
jobs:
  release:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.11.2]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
            token: ${{ secrets.DEPLOY_TOKEN }}
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.5.1
      - name: Configure git
        run: |
          git config --global user.name 'GitHub Actions Bot'
          git config --global user.email '<>'
          git push
      - name: bump release version and tag
        run: |
          poetry version ${{ github.event.inputs.bump }}
          export NEW_VERSION=v$(poetry version -s)
          git commit -am "[skip actions] Bumping to version $NEW_VERSION"
          git tag -a $NEW_VERSION -m $NEW_VERSION
      - name: prepatch to the next version
        run: |
          poetry version prepatch
          export NEW_VERSION=v$(poetry version -s)
          git commit -am "[skip actions] Prepatching to $NEW_VERSION"
      - name: Push results
        run: |
          git push
          git push --tags
  publish:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.11.2]
    runs-on: ${{ matrix.os }}
    needs: release
    steps:
      - uses: actions/checkout@v3
      - name: Build and publish to pypi test
        uses: JRubics/poetry-publish@v1.17
        with:
          python_version: "3.11.2"
          poetry_version: "==1.6.1" # (PIP version specifier syntax)
          pypi_token: ${{ secrets.PYPI_TOKEN }}
          allow_poetry_pre_release: "yes"
          ignore_dev_requirements: "yes"
